<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Keywords</mat-label>
    <mat-chip-list #chipList aria-label="Keyword selection">
      <mat-chip *ngFor="let keyword of keywords" (removed)="remove(keyword)">
        {{keyword.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="New keword..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>