<mat-grid-list cols="6" rowHeight="200px" gutterSize = "10px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <mat-grid-tile-header [style.background] = "tile.color" [style.color] = "'black'">{{tile.text}}</mat-grid-tile-header>
         <!-- <app-word-cloud></app-word-cloud> -->
         <div *ngIf="tile.text === 'Sentiment'">
            <app-donut-chart></app-donut-chart>               
        </div>
        <div *ngIf="tile.text === 'What Are People Saying?'">
            <app-comments></app-comments>              
        </div>
        <div *ngIf="tile.text === 'Top Posts'">
            <app-top-posts></app-top-posts>
        </div>
    </mat-grid-tile>
</mat-grid-list>
  