<ul>
    <div class="commentbox">
        <div class="comment" *ngFor="let topPost of topPosts">
            <div (click)="OpenPopup(topPost)" class="line">{{topPost.PostText}}</div>
            <div *ngIf="showPopup==true" class="popup"></div>
        </div>
    </div>
</ul>
<p-dialog style="background-color: green;"class="popup" header="topPost" appendTo="body" [baseZIndex]="10000" [(visible)]="showPopup">
    <ng-template pTemplate="header">
        Post: {{topPost.PostText}}
        <br>
        Total Comments: {{topPost.NumberOfComments}}
    </ng-template>
    Comments:
    <div class="comment" *ngFor="let postComment of postComments">
        {{postComment.comment}}
        <div *ngIf="postComment.polarity > 0">
            Rating: <div style="display:inline; color:#00FF00">Positive</div>
        </div>
        <div *ngIf="postComment.polarity < 0">
            Rating: <p style="display:inline; color:#FF0000">Negative</p>
        </div>
        <div *ngIf="postComment.polarity == 0">
            Rating: <p style="display:inline; color:#808080">Neutral</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p style="float:left">Post Sentiment:</p>
        <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
    </ng-template>
</p-dialog>