<div>
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{title}}</h1>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav class="example-sidenav" mode="side" [(opened)]="opened">Dashboard
      <mat-nav-list>
        <mat-list-item class="parent" (click)="showMentionsMenu = !showMentionsMenu">
          <span class="full-width">Mentions</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showMentionsMenu}" >expand_more</mat-icon>
          <!-- <button mat-icon-button>
            <mat-icon>+</mat-icon>
          </button> -->
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showMentionsMenu}">
          <!-- <a mat-list-item *ngFor="let keyword of keywords">
            {{keyword}}
          </a> -->
        </div>
        <!-- TODO: maybe change to an action list -->
        <mat-list-item (click)="showReportsMenu = !showReportsMenu">
          <span class="full-width">Reports</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showReportsMenu}" >expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showReportsMenu}">
          <a mat-list-item >Comments</a>
          <a mat-list-item >Posts</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color:white">
        <chips-input></chips-input>
        <grid-list-dynamic></grid-list-dynamic>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>